/*GLOBAL*/
body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: #0d0d0d;
    color:#fff;
    background-image: url("elev8fitnessbkgrnd.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    
    
}


    


img {
    width: 100%;
    
}



/*NAVBAR*/

.navbar{
    display:flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    background-color: #111;
    position: sticky;
    top:0;
    z-index: 100;
}

.logo{
    height:100px;
    width:100px;
    font-size: 1.8rem;
    font-weight: 700;

}

.logo span{
    color:#e62340
}

.nav-links{
    list-style: none;
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover{
    color: #e62340;
}

@media(max-width:768px){
    .nav-links a{
        font-size: 0.5rem;
    }

    .nav-links{
        gap:5px;
    }

    .logo{
        font-size: 1.2rem;
    }
}

/*HERO SECTION*/
.hero {
    display: grid;
    grid-template-columns:1fr 1fr;
    height:80vh;
    position: relative; /* required for absolute positioning */
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}

/* TEXT stays as a normal grid item */
.hero-text {
    text-align: center;
    z-index: 2;
    padding-top:100px;
    
}

/* IMAGE now floats freely on top of grid */
.hero-img {
    
    z-index: 1;
    opacity: 0.50;
}

.hero-img, .hero-text{
    grid-column-start:1 ;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end:1;
}

.hero-img img {
    width: 100%;  
    height: auto;
    
          
    
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-btn {
  padding: 12px 25px;
  background-color: #e62340;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}

.cta-btn:hover {
  background-color: #0099cc;
}

.cta-btn.large {
  padding: 15px 35px;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text {
    grid-column: 1;
  }
  
}

/* BENEFITS*/

.benefits{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap:25px;
    padding:60px 40px;
}

.card{
    background-color: #1a1a1a;
    padding:25px;
    border-radius: 10px;
    text-align:center;

}

.icon{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #00bfff;
}



